.local-weather {

  &__box {
    display: grid;
    grid-template-columns: [col-start] 15% [col-content--start] 70% [col-content--end] 15% [col-end];
    grid-template-rows: [row-start] 10% [row-weather__location] 16% [row-weather__icon] 32% [row-weather__temp] 16% [row-weather__unit] 16% [row-footer] 10% [row-end];
    height: 100%;
    width: 100%;
  }

  &__location {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: col-content--start / col-content--end;
    grid-row: row-weather__location / row-weather__icon;
    font-family: Tahoma;
    font-size: 2.5em;

    @mixin atSmall {
      font-size: 3em;
    }

    @mixin atMedium {
      font-size: 4em;
    }

    @mixin atLarge {
      font-size: 5em;
    }

    @mixin atLargest {
      font-size: 6em;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: col-content--start / col-content--end;
    grid-row: row-weather__icon / row-weather__temp;
  }

  &__temp {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: col-content--start / col-content--end;
    grid-row: row-weather__temp / row-weather__unit;
    font-family: Tahoma;
    font-size: 2.5em;

    @mixin atSmall {
      font-size: 3em;
    }

    @mixin atMedium {
      font-size: 4em;
    }

    @mixin atLarge {
      font-size: 5em;
    }

    @mixin atLargest {
      font-size: 6em;
    }
  }

  &__unit {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: col-content--start / col-content--end;
    grid-row: row-weather__unit / row-footer;
  }
}
